//Styling for mobile only
.mobi {
  // * {
  //   background-color: #34495e;
  // }
  //
  // .name {
  //   border: 2px solid #e74c3c;
  // }
  //
  // h1, h2, h3, p {
  //   color: #e74c3c;
  // }

  //navbar styling
  #main_navigation {
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    display: block;
    font-size: small;

    nav {
      //css for centering menu
      display: block;
      width: inherit;
      text-align: center;

      a {
        font-size: 80%;
        text-transform: uppercase;
        margin: 0;
      }

      a:not(:last-child) {
        margin-right: 0.75rem;
      }
    }

    //logo
    .name {
      font-size: 2em;
      text-align: center;
    }
  }

  //global wrapper for headings in each section
  .global_wrapper {
    margin-top: 186px;
  }

  .wrapper {
    position: relative;
    width: 100%;

    .about {
      padding: 0 5% 0 2.5%;
    }
    .col-1 {
      width: 100%;
      display: list-item;
      list-style: none;
    }
    .col-2 {
      width: 100%;
      display: list-item;
      list-style: none;
    }
    .col-3 {
      width: 100%;
      display: list-item;
      list-style: none;
    }
  }

  .button_wrapper {
    margin: 4em 0 4em 0;
    text-align: center;
  }
  .project_button {
      background: #8bc6db;
      color: #FFFFFF;
      text-decoration: none;
      padding: 1em 2em;
      display: inline;
  }

  .wrapper_padding {
    padding: 2rem 0;
  }

}
